@import '../../../scss/default_variables.scss';

.header {
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    gap: 20px;
    & button {
        cursor: pointer;
        width: 100px;
        padding: 5px;
        border: 2px solid $cars-font-color;
        border-radius: 5px;
        background-color: $purple-button;
        color: $cars-font-color;
        font-weight: 700;
        &:hover {
            background-color: $purple-button-hover;
            transition: .3s;
        }
    }
}