$background-color: #020024;
$cars-font-color: #ffffff;
$blue-button: #03039e;
$blue-button-hover: #03039eb0;
$red-button: #d41212;
$red-button-hover: #d4121290;
$purple-button: #300753;
$purple-button-hover: #1e0125;
$dotted-color: #000007;
$disable-button: #898888;
